
@model IEnumerable<ScrumProj.Models.ProfileModel>

@{
    ViewBag.Title = "Index";
}



<h2>Lista Roller</h2>

| @Html.ActionLink("Hantera roller", "ManageRoles") |

<hr style="border-color: #777;" />
<br />


<div class="form-horizontal">
    @foreach (var profile in Model)
    {
        <div class="form-group">
            <input type="button" class="btn btn-outline-warning" value="Acceptera användare" onclick="location.href='@Url.Action("AcceptUser", "role", new { id = profile.ID })'" />
            <a class="btn btn-outline-warning" href="@Url.Action("RemoveUser", "role", new { id = profile.ID })" onclick="return confirm('Är du säker att du vill ta bort den här användaren?')">Ta bort användare</a>
            <span style="font-size: 22px;">@Html.Label(profile.FirstName + " " + profile.LastName, new { @class = "col-md-4" })</span>
        </div>
    }
</div>

<br />

<script>
    jQuery(document).ready(function () {
        jQuery('[data-confirm]').click(function (e) {
            if (!confirm(jQuery(this).attr("data-confirm"))) {
                e.preventDefault();
            }
        });
    });
</script>
