
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}



<h2>Lista Roller</h2>

@Html.ActionLink("Lägg till en roll", "CreateRole") | @Html.ActionLink("Hantera roller", "ManageRoles")

<hr style="border-color: #777;" />
<br />


<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>| @role.Name |</strong>
        </p>
    }
</div>

<br />
