@model ScrumProj.Models.ViewModels.AdminListViewModel



    <div class="container">
        <div style="background-color:#272b30;">
            <dl class="dl-horizontal" style="border: 1px solid; border-radius:10px; padding: 10px;">
                @if (Model != null)
                {
                    foreach (var user in Model.AdminList)
                    {
                        <dt style="color: darkorange; opacity: 0.85">Användare:</dt>
                        <dd>@user.Email</dd>
                    }
                }
            </dl>
        </div>
    </div>