
@{
    ViewBag.Title = "Home Page";
}




<div id="imgContainer">
    <img src="https://www.oru.se/globalassets/oru-sv/om-universitetet/bilder/campus/orebro/entrehuset.jpg" id="bg" alt="background-picture"/>
    <p id="oru">Örebro Universitet</p>
    <button type="button" class="btn btn-success">Success</button>
    <p id="ik">Informatik</p>
</div>





