
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron"style="border: 1px solid white;">
    <h1 class="display-3">Örebro Universitet</h1>
    <p class="lead">Välkommen till Informatikavdelningens administrativa system.</p>
    <hr class="my-4">
    <p>Här finner du utvecklingsarbeten, möten, din egen kalender, blogg relaterad till arbete samt om man vill, en blogg för fritid. Klicka på "registrera" för att registrera ett nytt konto, och invänta en administratörs godkännande.</p>
    <p class="lead">
        <a class="btn btn-info btn-lg" href="@Url.Action("Register","Account")" role="button">Registrera</a>


        <h4>Redan registrerad?</h4>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Login", "Account")" role="button">Logga in</a>
    </p>
</div>

    @*<div class="card text-white bg-info mb-3" style="max-width: 60rem">
        <div class="card-body">
            <h2 class="card-title">Välkommen till Informatikavdelningens administrativa system.</h2>
            <h4 ="card-text">Här finner du utvecklingsarbeten, möten, din egen kalender, blogg relaterad till arbete samt om man vill, en blogg för fritid. Klicka på "registrera" för att registrera ett nytt konto, och invänta en administratörs godkännande.</h4>
        </div>
    </div>*@
    





