
@{
    ViewBag.Title = "Home Page";
}


<div class="card text-white bg-dark mb-3" style="max-width: 60rem;">
    <div class="card-header"></div>
    <div class="card-body">
        <h4 class="card-title">Välkommen till Informatikavdelningens administrativa system på Örebro unversitet.</h4>
        <p class="card-text">Här finner du utvecklingsarbeten, möten, din egen kalender, blogg relaterad till arbete samt om man vill, en blogg för fritid.</p>
    </div>
</div>






