@using Microsoft.AspNet.Identity
@using ScrumProj.Controllers
@model ScrumProj.Models.EntryViewModel
@{
    ViewBag.Title = "Blogginlägg";
}

<h2>Blogginlägg</h2>

@using (Html.BeginForm("PublishEntry", "Entry"))
{
    @Html.TextAreaFor(u => u.content.Content);

    <input type="submit" value="ladda Upp">

}
