@model ScrumProj.Models.ProfileViewModel

@if (User.Identity.IsAuthenticated)
{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_navbarSignedIn.cshtml";
}
<div class="jumbotron">
    <h1 class="display-3">Mötesbökning</h1>
    <p class="lead">.</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
</div>
