
@model ScrumProj.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}



@if (User.Identity.IsAuthenticated)
{
    if (!Model.Exist)
    {
        <div>
            <h2>Skapa din profil för att komma igång!</h2>

            <hr />

            @Html.Partial("CreateProfile")
        </div>
    }

}
else
{
    <hr />

    <h3>Du måste vara inloggad för att kunna se din profil</h3>
}
