
@model ScrumProj.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}



@if (User.Identity.IsAuthenticated)
{
    if (!Model.Exist)
    {
        <div>
            <h2>Create your profile to get started!</h2>

            <hr />

            @Html.Partial("CreateProfile")
        </div>
    }

    else
    {
        <div>
            <h2>Your Profile!</h2>

            <hr />
            
            @Html.Partial("ViewProfile")
        </div>
    }
}
else
{
    <hr />

    <h3>You have to be signed in to view your profile</h3>
}
