
@{
    ViewBag.Title = "Profile Created";
}
<div class="jumbotron" style="border: 1px solid white;">
    <p class="lead" style="text-align:center">Ditt konto har skapats och väntar på att bli accepterat av admin. Du kommer att få ett mail när ditt konto är redo att användas.</p>
</div>
