
@if(User.Identity.IsAuthenticated){
    ViewBag.Title = "SpecificDevelopmentProject";
    Layout = "~/Views/Shared/_navbarSignedIn.cshtml";
}

<h2>SpecificDevelopmentProject</h2>

@* en if sats för att se om  användaren får redigera projektet eller ej. 
    if (HttpContext.Current.User.Identity.GetUserId() =projekt.contributorId)
    {

    }*@

