
@model ScrumProj.Models.ProfileViewModel

<div>
    <div class="dl-horizontal">
        <dt>
            First Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Last Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Position:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
    </div>
</div>