@{
    ViewBag.Title = "Länk skickad!";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Du har nu fått ett email med en länk för återställning av lösenord.
        <br />OBS! Mailet kan hamna spam-inboxen.
    </p>
</div>
	
