@{
    ViewBag.Title = "Något gick fel";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Email adressen matchade inte det konto du försöker att återställa.
    </p>
</div>
